Repository AmeenKassem/WorkShop, pull requests merged in 2025-06, with the labels that each got.

#211 added more assertion and add clear cart and clear special cart added …
  Backend/src/main/java/workshop/demo/ApplicationLayer/PurchaseService.java
  Backend/src/main/java/workshop/demo/DTOs/CreateDiscountDTO.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/DiscountConditions.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/DiscountScope.java
  Backend/src/main/java/workshop/demo/DomainLayer/User/ShoppingCart.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/DiscountTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/GuestTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/PurchaseTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/UserTests.java
Labels: enhancement

#240 82% coverage 69% thbeb
  Backend/src/main/java/workshop/demo/ApplicationLayer/PaymentServiceImp.java
  Backend/src/main/java/workshop/demo/DTOs/Category.java
  Backend/src/main/java/workshop/demo/DomainLayer/Purchase/IPaymentService.java
  Backend/src/main/java/workshop/demo/DomainLayer/Stock/ActivePurcheses.java
  Backend/src/main/java/workshop/demo/DomainLayer/Stock/IStockRepo.java
  Backend/src/main/java/workshop/demo/DomainLayer/Stock/item.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/IStoreRepo.java
  Backend/src/main/java/workshop/demo/DomainLayer/StoreUserConnection/SuperDataStructure.java
  Backend/src/main/java/workshop/demo/InfrastructureLayer/StockRepository.java
  Backend/src/main/java/workshop/demo/InfrastructureLayer/StoreRepository.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/PurchaseTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/StoreSTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/UserTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/dtosTests.java
  Backend/src/test/java/workshop/demo/UnitTests/StockTest/StockStore.java
  Backend/src/test/java/workshop/demo/UnitTests/StockTest/StockStoreTests.java
  Backend/src/test/java/workshop/demo/UnitTests/StoreTests/RandomTests.java
  Backend/src/test/java/workshop/demo/UnitTests/Users/UsersTests.java
  Backend/src/test/java/workshop/demo/UnitTests/UsersTests/AuthentecationTests.java
  Backend/src/test/java/workshop/demo/UnitTests/UsersTests/SuspendTests.java
  Backend/src/test/java/workshop/demo/UnitTests/UsersTests/UsersTests.java
Labels: Test

#249 coverage and fixing refund
  Backend/src/main/java/workshop/demo/ApplicationLayer/PaymentServiceImp.java
  Backend/src/main/java/workshop/demo/ApplicationLayer/PurchaseService.java
  Backend/src/main/java/workshop/demo/DomainLayer/Purchase/IPaymentService.java
  Backend/src/main/java/workshop/demo/DomainLayer/Stock/ActivePurcheses.java
  Backend/src/main/java/workshop/demo/DomainLayer/Stock/IStockRepo.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/Random.java
  Backend/src/main/java/workshop/demo/InfrastructureLayer/StockRepository.java
  Backend/src/test/java/workshop/demo/AcceptanceTests/Tests/PurchaseTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/PurchaseTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/StoreSTests.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/UserTests.java
  Backend/src/test/java/workshop/demo/UnitTests/StockTest/StockStoreTests.java
  Backend/src/test/java/workshop/demo/UnitTests/StoreTests/RandomTests.java
Labels: Test

#261 258 fix special search
  Backend/src/main/java/workshop/demo/ApplicationLayer/StockService.java
  Backend/src/main/java/workshop/demo/DomainLayer/Stock/IStockRepo.java
  Backend/src/main/java/workshop/demo/InfrastructureLayer/StockRepository.java
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/PurchaseTests.java
Labels: bug

#263 show EndTime for random and auction products on store search results
  Backend/src/main/java/workshop/demo/DTOs/AuctionDTO.java
  Backend/src/main/java/workshop/demo/DTOs/RandomDTO.java
  Backend/src/main/java/workshop/demo/DomainLayer/Stock/Auction.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/Random.java
  Backend/src/main/java/workshop/demo/PresentationLayer/View/StoreDetailsView.java
Labels: help wanted

#266 add EndTime to auction and random products in HomePage Search
  Backend/src/main/java/workshop/demo/ApplicationLayer/UserService.java
  Backend/src/main/java/workshop/demo/PresentationLayer/View/HomePage.java
Labels: bug, enhancement

#336 suspend test fixed
  Backend/src/test/java/workshop/demo/UnitTests/UsersTests/SuspendTests.java
Labels: Test

#344 Discount tests
  Backend/src/main/java/workshop/demo/ApplicationLayer/DataInitilizer/UserParser.java
  Backend/src/main/java/workshop/demo/ApplicationLayer/StoreService.java
  Backend/src/main/java/workshop/demo/Controllers/StoreController.java
  Backend/src/main/java/workshop/demo/DTOs/CreateDiscountDTO.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/AndDiscount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/CompositeDiscount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/Discount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/DiscountConditions.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/DiscountFactory.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/InvisibleDiscount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/MaxDiscount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/MultiplyDiscount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/OrDiscount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/Store.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/VisibleDiscount.java
  Backend/src/main/java/workshop/demo/DomainLayer/Store/XorDiscount.java
  Backend/src/main/java/workshop/demo/PresentationLayer/Components/DiscountEditorComponent.java
  Backend/src/main/java/workshop/demo/PresentationLayer/Presenter/ManageStoreDiscountsPresenter.java
  Backend/src/main/java/workshop/demo/PresentationLayer/Presenter/StoreDetailsPresenter.java
  Backend/src/main/java/workshop/demo/PresentationLayer/View/ManageStoreProductsView.java
  Backend/src/main/java/workshop/demo/PresentationLayer/View/StoreDetailsView.java
  Backend/src/main/resources/application-db.properties
  Backend/src/test/java/workshop/demo/IntegrationTests/ServiceTests/DiscountTests.java
Labels: Test
